# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#Netbeans
.nb-gradle
.nb-gradle-properties

# other
node_modules/
run
.DS_Store
Thumbs.db
.vscode

# environment configuration
.env
backend/.env
backend/package-lock.json
