services:
  - type: web
    name: bedwars-level-head
    runtime: image
    plan: free
    region: oregon
    image:
      url: ghcr.io/beenycool/bedwars-level-head:latest
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    autoDeploy: false
