[Unit]
Description=Bedwars Level Head Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/beeny/bedwars-level-head/backend
Environment=PORT=44525
EnvironmentFile=/home/beeny/bedwars-level-head/backend/.env
ExecStart=/usr/bin/node dist/index.js
Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target